<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="common">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/common/xycss.css">
<!--        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
<!--        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<!--        <link rel="stylesheet" href="css/bootstrap/bootstrap.css">-->
<!--        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-grid.css">-->
<!--        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-reboot.css">-->
        <link rel="stylesheet" href="css/common/elementUI.css">
        <script src="js/jQuery/jQuery.js"></script>
        <script src="js/bootstrap/bootstrap.js"></script>
<!--        <script src="js/bootstrap/bootstrap.bundle.js"></script>-->
        <script src="js/common/vue.js"></script>
        <script src="js/common/newVue.js"></script>
        <script src="js/common/elementUI.js"></script>
    </div>
</html>