<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaoy.oem.mapper.userMapper.UserMapper">

    <resultMap id="User" type="com.xiaoy.oem.entity.user.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="perms" column="perms"/>
    </resultMap>

    <select id="queryAllUsers" resultMap="User">
        SELECT * FROM `t_users`
    </select>
    <select id="queryByName" resultMap="User">
        SELECT * FROM t_users WHERE username = #{name} limit 1
    </select>
    <select id="queryById" resultMap="User">
        SELECT * FROM t_users WHERE id = #{id} limit 1
    </select>
    <insert id="addUser">
        insert into t_users(username,password,perms) value (#{user.username},#{user.password},#{user.perms})
    </insert>
    <delete id="delUser">
        delete from t_users where id = #{user.id}
    </delete>
</mapper>