<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: fixed;
        }
        table td{
            vertical-align: inherit !important;
        }
        table tr:first-child{
            font-weight: bold;
        }

    </style>
</head>
<body>
<span th:replace="common/commonStyles :: common"></span>

<div id="app">
    <span th:replace="common/topbar_out :: topbar"></span>

    <div class="jumbotron" >
        <h1 style="margin: 0px auto;display: table;">Hello, welcome to online exam system!</h1>
        <p style="margin: 0px auto;display: table;">欢迎来到在线考试系统</p><br/>
        <p style="margin: 0px auto;display: table;"><a class="el-button el-button--primary" href="/toHistory" role="button">查看历史考试</a></p>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="color: #67C23A;"><h4>考试进行中</h4></div>
<!--        <div class="panel-body">-->
<!--            <p>我是占位符哦</p>-->
<!--        </div>-->

        <!-- Table -->
        <table class="table table-hover" >
            <tr class>
                <td>序号</td>
                <td>考试名</td>
                <td>科目</td>
                <td>考试时间</td>
                <td>考试性质</td>
                <td>操作</td>
            </tr>
            <tr th:each="list,listState:${curList}">
                <td th:text="${listState.index+1}"></td>
                <td th:text="${list.name_}">一体化软件工程实践期末考试</td>
                <td th:text="${list.course}">一体化软件工程实践</td>
                <td th:text="${list.time_}">10:00——11:00</td>
                <td th:text="${list.type_}">普通期末考试</td>
                <td><a th:href="@{'/toExam?id=' + ${list.id}}"><button class="el-button el-button--success el-button--primary">立即参加</button></a></td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="color: #F56C6C;"><h4>已过期</h4></div>
        <!--        <div class="panel-body">-->
        <!--            <p>我是占位符哦</p>-->
        <!--        </div>-->

        <!-- Table -->
        <table class="table table-hover" >
            <tr class>
                <td>序号</td>
                <td>考试名</td>
                <td>科目</td>
                <td>考试时间</td>
                <td>考试性质</td>
                <td>操作</td>
            </tr>
            <tr th:each="list,listState:${oldList}">
                <td th:text="${listState.index+1}"></td>
                <td>软件工程导论期末考试</td>
                <td>软件工程导论</td>
                <td>10:00——11:30</td>
                <td>普通期末考试</td>
                <td><a href="/toExam"><button class="el-button el-button--danger is-plain el-button--mini">申请补考</button></a></td>
            </tr>
        </table>
    </div>

</div>

<div>

</div>
</body>

</html>